<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request Password Reset</title>
    <link rel="stylesheet" href="../static/Webpage.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/request_reset">
            <input title="username" type="text" name="username" placeholder="Enter your username">
            <button type="submit">Request Reset</button>
        </form>
        <!-- Syntax for fetching the flash message and displaying it in the UI -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flash-message">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
